html, body {
	margin: 0;
}

body {
	font-family: Arial;
	background-color: #f1f1f1;
	font-size: 12px;
}

#entete {
	background-color: #ffffff;
	width: 100%;
}

#nomSite {
	display: inline-block;
	float: left;
}

#navigation {
	float: right;
}

#navigation ul {
	list-style-type: none;
}

#navigation li {
	display: inline-block;
}